$enable-responsive-font-sizes: true;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1.1rem;
$primary:       #d0a338;
$secondary:     #BABABA;
$link-color:    $secondary;

// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-800;