<!DOCTYPE html>
<html lang="en" class="full-screen">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Limited Edition Hunter Renfrow Autographed 2016 National Championship Football</title>
  <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4776b4f06c.js"></script>

  <meta name="description" content="Limited edition autographed 2016  National Championship football. 100% full grain leather. Game ball quality. A portion of all proceeds to go Coach Swinney’s 'All In' Foundation." />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Limited Edition Hunter Renfrow Autographed 2016 National Championship Football">
  <meta itemprop="description" content="Limited edition autographed 2016  National Championship football. 100% full grain leather. Game ball quality. A portion of all proceeds to go Coach Swinney’s 'All In' Foundation.">
  <meta itemprop="image" content="./public/social.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="product">
  <meta name="twitter:title" content="Limited Edition Hunter Renfrow Autographed 2016 National Championship Football">
  <meta name="twitter:description" content="Limited edition autographed 2016  National Championship football. 100% full grain leather. Game ball quality. A portion of all proceeds to go Coach Swinney’s 'All In' Foundation.">
  <meta name="twitter:image" content="./public/social.jpg">
  <meta name="twitter:data1" content="$379">
  <meta name="twitter:label1" content="Price">

  <!-- Open Graph data -->
  <meta property="og:title" content="Limited Edition Hunter Renfrow Autographed 2016 National Championship Football" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://413ball.com/" />
  <meta property="og:image" content="./public/social.jpg" />
  <meta property="og:description" content="Limited edition autographed 2016  National Championship football. 100% full grain leather. Game ball quality. A portion of all proceeds to go Coach Swinney’s 'All In' Foundation." />
  <meta property="og:site_name" content="413Ball.com" />
  <meta property="og:price:amount" content="379.00" />
  <meta property="og:price:currency" content="USD" />
</head>
<body class="full-screen bg-black d-flex align-items-md-center overflow-md-hidden">
