<%= require('html-loader!./templates/includes/header.html') %>

  <div class="full-screen background-cover" style="background-image: url('./public/bg.jpg'); opacity: .3; filter: grayscale(30%);"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 col-xs-12">
        <div class="position-relative bring-forward text-center mx-auto text-white px-4">
          <a href="http://hunterrenfrow.com" target="_blank"><img src="./public/logo.png" alt="" class="mx-auto mb-4" style="width: 100%; max-width: 350px;"></a>
          <br>
          <!-- <h1 class="display-3 text-primary mb-3">The best ability is availability.</h1> -->
          <img src="./public/ball2.png" class="mb-4" style="max-width: 300px;" alt="">
          <p class="mb-3">Autographed football signed by 2 time national champion Hunter Renfrow. Please allow 8-10 weeks for delivery.</p>
          <div id='product-component-6d175023cad' class="mx-auto"></div>
        </div>
      </div>
    </div>
  </div>

<%= require('html-loader!./templates/includes/footer.html') %>