<%= require('html-loader!./templates/includes/header.html') %>

  <div class="full-screen background-cover" style="background-image: url('./public/bg-ball.jpg'); opacity: .4; filter: grayscale(75%);"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 col-xs-12">
        <div class="position-relative bring-forward text-center mx-auto text-white px-4">
          <a href="http://hunterrenfrow.com" target="_blank"><img src="./public/logo.png" alt="" class="mx-auto mb-4" style="width: 100%; max-width: 350px;"></a>
          <h1 class="display-3 mb-3">The best ability is availability.</h1>
          <p>This football has been personally hand-signed by Hunter Renfrow. It is officially licensed by the National Football League and comes with an individually numbered, tamper-evident hologram from Fanatics Authentic.</p>
          <a href="#" class="btn btn-primary">Buy the Ball</a>
        </div>
      </div>
    </div>
  </div>

<%= require('html-loader!./templates/includes/footer.html') %>