<%= require('html-loader!./templates/includes/header.html') %>

  <div class="full-screen background-cover" style="background-image: url('./public/bg.jpg'); opacity: .3; filter: grayscale(70%);"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 col-xs-12">
        <div class="position-relative bring-forward text-center mx-auto text-white px-4">
          <a href="http://hunterrenfrow.com" target="_blank"><img src="./public/logo.png" alt="" class="mx-auto mb-4" style="width: 100%; max-width: 350px;"></a>
          <br>
          <!-- <h1 class="display-3 text-primary mb-3">The best ability is availability.</h1> -->
          <img src="./public/cfp.png" class="mb-3" style="max-width: 300px;" alt="">
          <p>Non mollit amet dolore incididunt labore id aute. Exercitation minim culpa consectetur nostrud commodo ut occaecat fugiat consequat in sunt.</p>
          <a href="#" class="btn btn-primary">Buy the Ball</a>
        </div>
      </div>
    </div>
  </div>

<%= require('html-loader!./templates/includes/footer.html') %>